<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .div{
            /* width: 90px; */
            /* padding: 30px; */
            /* border: 500px rgb(83, 19, 201); */
            /* background-color: seashell; */
            align-items:center;
            color:white;
            font-size: 25px;
            text-shadow: 3px 3px 3px red;
            font-style: normal;
            /* text-decoration: underline; */
            font-family: monospace;
            
        }
        .img{
            max-width: 100%;
            height: auto;


        }
        .centertext{
            text-align: center;
            border: 2px solid blue
        }
        .button {
          background-color: Purple;
          color: black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none ;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 8px;
          width: 10%;
          border: 2px solid black;
        }
.button1{background-color: white;}
.button1:hover {
    background-color: rgb(105, 102, 102);
}
.button2{background-color: rgb(160, 160, 235);}
.button2:hover {
    background-color: blue;
}

.button3{background-color: rgb(233, 233, 160);}
.button3:hover {
    background-color: yellow;
}
.button4{background-color: rgb(170, 245, 170);}
.button4:hover {
    background-color: rgb(102, 226, 102);
}
.button5{background-color: rgb(233, 157, 157);}
.button5:hover {
    background-color: red;
}
.button6{background-color: rgb(228, 201, 152);}
.button6:hover {
    background-color: orange;
}
.button7{background-color: rgb(233, 145, 218);}
.button7:hover {
    background-color: purple;
}
.logoutbutton{background-color: rgb(120, 223, 226);}
.logoutbutton:hover {
    background-color: rgb(98, 24, 236);
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body align='center' background="iothome.jpeg" style="background-size: 100%;">

  <div class="div">
        <H3>{{greet}}</H3>
        <H4>Select Your Action</H4>
    </div>
    <div>
        <form action="/action" method="POST">
            <button  class="button button1" value="0" name="button_0"> White D0 </button>
            <button class="button button2"  value="1" name="button_1"> Blue D1</button>  <br>
            <button class="button button3"  value="2" name="button_2"> Yellow D2 </button>
            <button class="button button4"   value="3" name="button_3"> Green D3 </button> <br>
            <button class="button button5"  value="5" name="button_5"> Red &nbsp D5 </button>
            <button class="button button6"   value="6" name="button_6"> Smart Switch </button> <br>
            <button class="button button7"  value="4" name="button_4"> Entrance Gate D4 </button>
           
        </form>
    </div>
    <div class="div">
        <h4>{{button_ans}}</h4>
    </div>
    <div >
        <form action="/" method="GET">
            <button class="button logoutbutton">Logout</button>
        </form>
    </div>
</body>
</html>