<!DOCTYPE html>
<html lang="en">
<head>
    <style> 
    .div{
            /* width: 90px; */
            /* padding: 30px; */
            /* border: 500px rgb(83, 19, 201); */
            /* background-color: seashell; */
            align-items:center;
            color:white;
            font-size: 25px;
            text-shadow: 3px 3px 3px red;
            font-style: normal;
            /* text-decoration: underline; */
            font-family: monospace;
            
        }
        .button {
          background-color: Purple;
          color: black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none ;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 8px;
          width: 10%;
          border: 2px solid black;
        }
.button{background-color: white;}
.button:hover {
    background-color: rgb(10, 202, 36);
}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Project</title>
</head>
<body class="div" align='center' background="iothome.jpeg" style="background-size: 100%;">
    <h3>IOT BASED HOME AUTOMATION</h3>
    <!-- <nav>
        <a>About</a>
        <a>Social Media</a>
        <a>Contact</a>
    </nav> -->
    <form action="/login" method="GET">
        <button class="button" type="submit">Login</button>
    </form>
</body>
</html>