<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Project</title>
</head>
<body>
    <h3>Sachin Project</h3>
    <nav>
        <a>About</a>
        <a>Social Media</a>
        <a>Contact</a>
    </nav>
    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>
</body>
</html>