<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Project</title>
</head>
<body>
    <H3>Welcome To Login!</H3>
    <form action='/login' method="POST">
        <input type="text" name="user_name">Enter Your Name</input><br>
        <input type="text" name="user_id">Login ID</input><br>
        <input type="text" name="user_password">Password</input><br>
        <button type="submit">LOGIN</button><br>
    </form>
    <h3>
        {{reply}}
    </h3>
</body>
</html>